#benefits{
    background-color: #ecf7f1;;
    padding: 40px 0;
    }
    
    #benefits .section_card{
        display: flex;
        justify-content: space-between;
        margin: 40px 0;
      }
/*     
    
    #benefits .svg_container{
     
        overflow: hidden;
        border-radius: 0.2rem
      } */
    #benefits .svg_container svg{
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background-color: #b2e8cc;

    /* fill: #1a811a; */
      }
    
    #benefits .card_container{
        width: calc(96%/3);
        padding: 15px;
        background-color: white;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow: -1px 0px 18px -6px rgb(144, 169, 156);
        box-sizing: border-box;
        /* box-shadow: 4px 26px 21px -8px rgba(96, 166, 83, 1); */
        }
    
          #customer_rituals .text_container{
            width: 100%;
            box-sizing: border-box;
            padding: 30px;
          }
    
    
    
    
          #customer_rituals .section_card p {
            margin: 15px 0;
            color: #0a4d0a;
            font-style: italic;
        
          }
          #customer_rituals .section_card h2 {
            color: #1a811a;
            margin-bottom: 0;
            margin: 0;
            font-weight: bold;
            font-size: 1rem;
          }

    
    
    
          @media (max-width: 600px) {
            /* card */
            .section_card{
              flex-wrap: wrap;
             }
             
             #benefits .card_container{
              width: calc(96%/2);
              margin: 0 auto;
              margin-bottom: 10px;
              /* flex-wrap: wrap; */
              }
           }
    
           